* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(8, 8, 14, 0.132);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.login-box {
    background-color: rgba(8, 8, 14, 0.132);
    padding: 150px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 600px; /* Occupies 50% of the page */
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    
    font-size: 55px;
    color:  #40E0D0;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #aaa;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
}

.input-group input::placeholder {
    color: #aaa;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

/* Responsive design */
@media (max-width: 768px) {
    .login-box {
        width: 90%; /* On smaller screens, the form will occupy 90% of the width */
    }
}
.account{
    color: #007bff;

}
.account a{
    color: #007bff ;
}

.account:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* Video container styling */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensures the video is behind all content */
  }
  
  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    background: black; /* Ensures video covers the entire area */
  }